.cabecera {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}

.cabecera__busqueda {
    margin: 1.25rem auto 1.25rem 0.625rem;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.busqueda__entrada {
    width: 100%;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 100px;
    outline: none;
    background-color: #F5F5F5;
}

.busqueda__boton {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.busqueda__boton img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.cabecera__botonlogin,
.cabecera__botonadmin {
    background: transparent;
    border: 1px solid #2A7AE4;
    border-radius: 5px;
    color: #2A7AE4;
    padding: 0.5rem;
    text-decoration: none;
    min-width: 150px;
    text-align: center;
}

.cabecera__botonlogin:hover,
.cabecera__botonadmin:hover {
    cursor: pointer;
    background: #2A7AE4;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .cabecera {
        margin-left: 1rem;
        margin-right: 1rem;
        height: 3rem;
    }

    .cabecera__logo {
        width: 8rem;
    }
}

@media screen and (max-width: 425px) {

    .cabecera {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .busqueda__entrada {
        display: none;
    }

    .cabecera__logo {
        width: 8rem;
        margin-right: 1rem;
        order: 1;
    }

    .cabecera__busqueda {
        order: 3;
    }

    .busqueda__boton {
        margin-left: 1rem;
        
    }

    .cabecera__botonlogin {
        order: 2;
    }

}